﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* 
    GRIS 3c3a3c
    VERDE 4da82f
*/

body {
    padding-bottom: 0px;
}

h2, p {
    color: #4b525a;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
    margin-top: 0px;
}

a {
    color: #4da82f;
}

#login{
    font-size: 12px;
}

.cont-admin {
    clear: both;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 20px 0 20px 0;
    border-top: 1px solid #e3e3e4;
}

.body-content  {
    min-height: 450px;
    padding-bottom: 50px;
}

.navbar-inverse {
    background-color: #3c3a3c;
    border: none;
}

#logo {
    height: 50px;
}

.index-descripcion {
    font-size: 22px;
    width: 60%;
    margin: 0 auto;
}

.sec {
    margin: 50px 0 0 0;
    padding: 0 60px;
}

    .sec a {
        color: #4b525a;
    }

.sec img {
    float: left;
}

.sec hr {
    border-top: 1px solid #4da82f;
}

.sec-cont {
    padding-left: 65px;
}

.sec ul {
    padding-left: 15px;
}

#login a{
    color: white;
}