﻿@model IEnumerable<Sistema3de3.Models.Usuario>

@{
    ViewBag.Title = "Administradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Directorio de Contralores(as) y Administradores(as) Webpadrón vigentes</h2>

<p>
    @Html.ActionLink("Agregar nuevo", "AgregarAdministrador") | <a href="Modulo2_1">Volver</a>
</p>
<table class="table">
    <tr>
        <th>
            Número
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th>
            Domicilio
        </th>
        <th>
            Fecha de incorporación
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.PrimerApellido) @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entidad.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle) @Html.DisplayFor(modelItem => item.NumExterior), @Html.DisplayFor(modelItem => item.Colonia), @Html.DisplayFor(modelItem => item.Estado), @Html.DisplayFor(modelItem => item.Municipio), @Html.DisplayFor(modelItem => item.CP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeRegistro)
        </td><td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UsuarioId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.UsuarioId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.UsuarioId })
        </td>
    </tr>
}
    <tr>
        <td>Total:</td>
        <td>@Model.Count()</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>

</table>
