﻿
@{
    ViewBag.Title = "Registro y control de las declaraciones patrimoniales - Módulo 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro y control de las declaraciones patrimoniales - Módulo 2</h1>
<hr />

<div class="row">
    <div class="col-lg-6 sec">
        <img src="~/Content/Imagenes/Iconos/ico-casa.jpg" />
        <div class="sec-cont">
            <h2>Módulo 2.1 "Registro y control de las declaraciones patrimoniales"</h2>
            <hr />
            <ul>
                <li><a href="/Control/Modulo2_1">Ir al Módulo 2.1</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6 sec">
        <img src="~/Content/Imagenes/Iconos/ico-casa.jpg" />
        <div class="sec-cont">
            <h2>Módulo 2.2 "Registro y control de las declaraciones de intereses"</h2>
            <hr />
            <ul>
                <li><a href="#">Ir al Módulo 2.2</a></li>
            </ul>
        </div>
    </div>
</div>

