﻿
@{
    ViewBag.Title = "Modulo2_1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Módulo 2.1 "Registro y control de las declaraciones patrimoniales"</h1>
<hr />

<div class="row">
    <div class="col-lg-6 sec">
        <img src="~/Content/Imagenes/Iconos/ico-casa.jpg" />
        <div class="sec-cont">
            <h2>Módulo 2.1 "Registro y control de las declaraciones patrimoniales"</h2>
            <hr />
            <ul>
                <li><a href="/Control/Administradores">Contralores(as) y Administradores(as) Web Padrón vigentes</a></li>
                <li><a href="/Control/AgregarAdministrador">Agregar Contralores(as) ó Administradores(as) Web Padrón</a></li>
                <li><a href="/Control/Reportes">Reportes</a></li>
            </ul>
        </div>
    </div>
</div>