﻿@model Sistema3de3.Models.ServidorPublico

@{
    ViewBag.Title = "Mis declaraciones pendientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis declaraciones pendientes</h2>

<div>
    <hr />
    @{foreach (var declaracion in Model.Declaraciones)
        {
            <ol>
                <li><a href="/Presentacion/EditarDeclaracion/@declaracion.DeclaracionId">Tipo de declaración: @declaracion.DeclaracionTipo, fecha de registro: @declaracion.FechaDeRegistro</a></li>
            </ol>
        }
    }
</div>
