﻿@model Sistema3de3.Models.ServidorPublico

@{
    ViewBag.Title = "Presentación de las declaraciones - Módulo 1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Presentación de las declaraciones - Módulo 1</h1>
<hr />

<div class="row">
    <div class="col-lg-6 sec">
        <img src="~/Content/Imagenes/Iconos/ico-casa.jpg" />
        <div class="sec-cont">
            <h2>Presentación de Declaraciones de Situación Patrimonial</h2>
            <hr />
            <ul>
                <li><a href="/Presentacion/DeclaracionesPendientes/@Model.UsuarioId">Mis declaraciones pendientes</a></li>
                <li><a href="#">Consultar declaración</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6 sec">
        <img src="~/Content/Imagenes/Iconos/ico-docs.jpg" />
        <div class="sec-cont">
            <h2>Presentación del Acuse de la Declaración Fiscal o de la Constancia de Percepciones y Deducciones</h2>
            <hr />
            <ul>
                <li><a href="#">Constancia de la Declaración Anual Fiscal o de la Constancia de Percepciones y Deducciones</a></li>
                <li><a href="#">Control de la Declaración Anual Fiscal o de la Constancia de Percepciones y Deducciones.Presentar nueva declaración</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 sec">
        <img src="~/Content/Imagenes/Iconos/ico-personas.jpg" />
        <div class="sec-cont">
            <h2>Presentación de la Declaraciones de Intereses</h2>
            <hr />
            <ul>
                <li><a href="#">Presentar nueva declaración</a></li>
                <li><a href="#">Consultar declaración</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6 sec">
        <img src="~/Content/Imagenes/Iconos/ico-paloma.jpg" />
        <div class="sec-cont">
            <h2>Declaraciones preventivas</h2>
            <hr />
            <ul>
                <li><a href="#">Presentar nueva declaración</a></li>
            </ul>
        </div>
    </div>
</div>