﻿@using Microsoft.AspNet.Identity
 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema 3 de 3</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img id="logo" src="~/Content/Imagenes/logo-3-de-3-blanco.png" /></a>
            </div>
            <div class="navbar-collapse collapse">

@if (Request.IsAuthenticated)
{
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Módulo 1", "Index", "Presentacion")</li>
                    <li>@Html.ActionLink("Módulo 2", "Index", "Control")</li>
                    <li>@Html.ActionLink("Módulo 3", "Index", "Registro")</li>
                </ul>
}
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
    </div>
    <footer>
        <img src="~/Content/Imagenes/logo-contraloria.png" />
        <p>Mapa del sitio | Políticas de uso y privacidad | Acerca de este portal | Contacto</p>
        <p>Gobierno del Estado de Jalisco , algunos derechos reservados  &copy; @DateTime.Now.Year - Sistema 3 de 3 por: <a href="http://www.nicotinaestudio.com" target="_blank">Nicotina Estudio</a></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
