﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("CerrarSesion", "Usuario", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div id="login" class="navbar-right" style="margin-top: 7px;">
            @Html.ActionLink("¡Hola " + User.Identity.GetUserName().Split('|')[1] + "!", "MiPerfil", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })<br />
            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>
        </div>
    }
}
else
{
    <div id="login" class="navbar-right" style="margin-top: 16px;">
        <div id="user"><i class="fa fa-user fa-5x" aria-hidden="true"></i></div>
        <a href="/Usuario/IniciarSesion">Iniciar Sesion</a><br />
    </div>
}
