﻿@model Sistema3de3.Models.ServidorPublico

@{
    ViewBag.Title = "Detalle de servidor público";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle de servidor público</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entidad.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadResponsable.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumExterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumExterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumInterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumInterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInicioDeLaObligacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInicioDeLaObligacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeTerminacionDeLaObligacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeTerminacionDeLaObligacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeUltimoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeUltimoMovimiento)
        </dd>

    </dl>

    <p>Declaraciones pendientes (@Model.Declaraciones.Count()):</p>
    @{foreach (var declaracion in Model.Declaraciones)
        {
            <dl class="dl-horizontal">
                <dt>
                    Tipo de declaración:
                </dt>
                <dd>
                    @declaracion.DeclaracionTipo
                </dd>
                <dt>
                    Fecha de registro:
                </dt>
                <dd>
                    @declaracion.FechaDeRegistro
                </dd>
            </dl>
        }
       }
</div>
<p>
    @Html.ActionLink("Editar", "EditarServidorPublico", new { id = Model.UsuarioId })
</p>
