﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro de personas obligadas a presentar declaraciones - Módulo 3</h1>
<hr />

<div class="row">
    <div class="col-lg-6 sec">
        <img src="~/Content/Imagenes/Iconos/ico-casa.jpg" />
        <div class="sec-cont">
            <h2>Registro de personas obligadas a presentar declaraciones</h2>
            <hr />
            <ul>
                <li><a href="/Registro/ServidoresPublicos">Catálogo de Servidores Públicos</a></li>
                <li><a href="/Registro/AgregarServidor">Agregar Servidor Público</a></li>
                <li><a href="/Registro/AgregarObligacion">Agregar obligación</a></li>
            </ul>
        </div>
    </div>
</div>