﻿@model IEnumerable<Sistema3de3.Models.ServidorPublico>

@{
    ViewBag.Title = "Servidores públicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Servidores públicos</h2>

<p>
    @Html.ActionLink("Agregar nuevo", "AgregarServidor")  | <a href="/Registro">Volver</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeUltimoMovimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.PrimerApellido) @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeUltimoMovimiento)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarServidorPublico", new { id=item.UsuarioId }) |
            @Html.ActionLink("Detalles", "DetalleServidorPublico", new { id=item.UsuarioId }) |
            @Html.ActionLink("Eliminar", "EliminarServidorPublico", new { id = item.UsuarioId })
        </td>
    </tr>
}

</table>
