﻿@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <img src="~/Content/Imagenes/logo-3-de-3-blanco.png" />
    <h1>¡Bienvenido al Sistema 3 de 3!</h1>
    <br/>
    <p class="index-descripcion">El sistema 3 de 3 facilita la recepción, control y seguimiento de la Evolución Patrimonial de los servidores públicos</p>
    <br />
    <a href="/Usuario/IniciarSesion"><button type="button" class="btn btn-success">Iniciar Sesión</button></a>
</div>