﻿
@{
    ViewBag.Title = "Modulos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módulos</h2>

<ol>
    <li><a href="/Presentacion">Módulo 1</a></li>
    <li><a href="/Control">Módulo 2</a></li>
    <li><a href="/Registro">Módulo 3</a></li>
</ol>